#############################################
# Home Assistant – Standard protection
#############################################

# Whitelist YAML files (all other files ignored unless whitelisted)
!*.yaml
!.gitignore
!*.md

#############################################
# Sensitive or runtime data (must never be in Git)
#############################################

# HA internal
.storage/
.cloud/
.google.token
.miele-token-cache

# Secrets
secrets.yaml
ip_bans.yaml
known_devices.yaml
*.disabled

# SSH keys
.ssh/
id_rsa*
id_ed25519*
id_ecdsa*

#############################################
# Databases / logs / temp
#############################################

home-assistant.log
home-assistant_v2.db*
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

core.*
*.log
*.old
*.bak
*.tmp
*.dump
*.txt
*.lock


#############################################
# Zigbee, MQTT, integrations
#############################################

zigbee2mqtt/
pyscript/
deps/
python_scripts


#############################################
# BambuLab (ignore large print files)
#############################################

# Ignore whole print/media folder
www/media/ha-bambulab/
# Ignore all print formats
*.gcode
*.gcode.gz
*.3mf
*.stl
*.step
*.obj

#############################################
# Temp www cache
#############################################

www/tmp/

#############################################
# TTS cache
#############################################

tts/

#############################################
# Development tools
#############################################

__pycache__/
.idea/
.vscode/
.vscode-server/
*.swp
*.swo

#############################################
# Backups
#############################################

backup/
