<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value="02.02.02.56"/>
  </header>
  <plate>
    <metadata key="index" value="1"/>
    <metadata key="extruder_type" value="0 0"/>
    <metadata key="nozzle_volume_type" value="0 0"/>
    <metadata key="printer_model_id" value="O1D"/>
    <metadata key="nozzle_diameters" value="0.4,0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="6489"/>
    <metadata key="weight" value="63.90"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="false"/>
    <metadata key="label_object_enabled" value="true"/>
    <metadata key="filament_maps" value="2 2 1 1"/>
    <metadata key="limit_filament_maps" value="0 0 0 0"/>
    <object identify_id="114" name="insert_nozzle_H2D-Standard.step" skipped="false" />
    <object identify_id="155" name="insert_nozzle_H2D-Standard.step" skipped="false" />
    <object identify_id="189" name="insert_nozzle_H2D-Standard.step" skipped="false" />
    <filament id="1" tray_info_idx="GFA01" type="PLA" color="#000000" used_m="19.43" used_g="61.68" />
    <filament id="2" tray_info_idx="GFL99" type="PLA" color="#0ACC38" used_m="0.74" used_g="2.22" />
    <warning msg="bed_temperature_too_high_than_filament" level="3" error_code ="1000C001"  />
    <layer_filament_lists>
      <layer_filament_list filament_list="0" layer_ranges="0 144" />
      <layer_filament_list filament_list="0 1" layer_ranges="145 145" />
      <layer_filament_list filament_list="1" layer_ranges="146 149" />
    </layer_filament_lists>
  </plate>
</config>
