<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value="02.02.02.56"/>
  </header>
  <plate>
    <metadata key="index" value="2"/>
    <metadata key="extruder_type" value="0 0"/>
    <metadata key="nozzle_volume_type" value="0 0"/>
    <metadata key="printer_model_id" value="O1D"/>
    <metadata key="nozzle_diameters" value="0.4,0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="4600"/>
    <metadata key="weight" value="32.82"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="false"/>
    <metadata key="label_object_enabled" value="false"/>
    <metadata key="filament_maps" value="2 2 1"/>
    <metadata key="limit_filament_maps" value="0 0 0"/>
    <object identify_id="209" name="BaBo_base-minimal" skipped="false" />
    <filament id="2" tray_info_idx="GFL99" type="PLA" color="#898989" used_m="11.00" used_g="32.82" />
    <layer_filament_lists>
      <layer_filament_list filament_list="1" layer_ranges="0 49" />
    </layer_filament_lists>
  </plate>
</config>
