<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value="02.04.00.70"/>
  </header>
  <plate>
    <metadata key="index" value="1"/>
    <metadata key="extruder_type" value="0 0"/>
    <metadata key="nozzle_volume_type" value="0 0"/>
    <metadata key="printer_model_id" value="O1D"/>
    <metadata key="nozzle_diameters" value="0.4,0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="12679"/>
    <metadata key="weight" value="136.99"/>
    <metadata key="first_layer_time" value="954.534546"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="true"/>
    <metadata key="label_object_enabled" value="false"/>
    <metadata key="filament_maps" value="2 2 1 1 1 1 1"/>
    <metadata key="limit_filament_maps" value="0 0 0 0 0 0 0"/>
    <object identify_id="879" name="Body2" skipped="false" />
    <filament id="1" tray_info_idx="GFA00" type="PLA" color="#C0C0C0" used_m="43.39" used_g="131.50" group_id="1" nozzle_diameter="0.40" volume_type="Standard"/>
    <filament id="2" tray_info_idx="GFA00" type="PLA" color="#000000" used_m="1.81" used_g="5.49" group_id="1" nozzle_diameter="0.40" volume_type="Standard"/>
    <warning msg="bed_temperature_too_high_than_filament" level="3" error_code ="1000C001"  />
    <layer_filament_lists>
      <layer_filament_list filament_list="0" layer_ranges="0 44,50 59" />
      <layer_filament_list filament_list="0 1" layer_ranges="45 49" />
      <layer_filament_list filament_list="1" layer_ranges="60 60" />
    </layer_filament_lists>
  </plate>
</config>
