<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value="02.03.01.51"/>
  </header>
  <plate>
    <metadata key="index" value="13"/>
    <metadata key="extruder_type" value="0 0"/>
    <metadata key="nozzle_volume_type" value="0 0"/>
    <metadata key="printer_model_id" value="O1D"/>
    <metadata key="nozzle_diameters" value="0.4,0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="16107"/>
    <metadata key="weight" value="95.40"/>
    <metadata key="first_layer_time" value="386.167908"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="false"/>
    <metadata key="label_object_enabled" value="true"/>
    <metadata key="filament_maps" value="2 2 2 2"/>
    <metadata key="limit_filament_maps" value="0 0 0 0"/>
    <object identify_id="4819" name="Bin" skipped="false" />
    <object identify_id="4848" name="Red Knob" skipped="false" />
    <object identify_id="4877" name="Blue Knob" skipped="false" />
    <object identify_id="6935" name="Assembly" skipped="false" />
    <filament id="1" tray_info_idx="GFA01" type="PLA" color="#000000" used_m="5.88" used_g="18.67" />
    <filament id="2" tray_info_idx="GFA01" type="PLA" color="#FFFFFF" used_m="21.86" used_g="69.39" />
    <filament id="3" tray_info_idx="GFL99" type="PLA" color="#F72323" used_m="1.24" used_g="3.69" />
    <filament id="4" tray_info_idx="GFL99" type="PLA" color="#2850E0" used_m="1.22" used_g="3.64" />
    <warning msg="bed_temperature_too_high_than_filament" level="3" error_code ="1000C001"  />
    <layer_filament_lists>
      <layer_filament_list filament_list="1" layer_ranges="0 53,56 134" />
      <layer_filament_list filament_list="1 3" layer_ranges="584 585" />
      <layer_filament_list filament_list="0 1" layer_ranges="54 55" />
      <layer_filament_list filament_list="1 2" layer_ranges="135 136" />
      <layer_filament_list filament_list="2" layer_ranges="137 582" />
      <layer_filament_list filament_list="" layer_ranges="583 583,1032 1032" />
      <layer_filament_list filament_list="3" layer_ranges="586 1031" />
      <layer_filament_list filament_list="0" layer_ranges="1033 1715" />
    </layer_filament_lists>
  </plate>
</config>
