substitutions:
  name: esphome-web-141c58
  friendly_name: Time Travler

esphome:
  name: ${name}
  friendly_name: ${friendly_name}
  min_version: 2024.6.0
  name_add_mac_suffix: false
  project:
    name: esphome.web
    version: dev

esp32:
  board: esp32dev
  framework:
    type: arduino

#wifi:
#  ssid: "HasH20-v4"
#  password: "Pigen_med_svovlstikkerne"
  
# Enable logging
logger:

# Enable Home Assistant API
api:

# Allow Over-The-Air updates
ota:
- platform: esphome

# Allow provisioning Wi-Fi via serial
improv_serial:

wifi:
  # Set up a wifi access point
  ap: {}

# In combination with the `ap` this allows the user
# to provision wifi credentials to the device via WiFi AP.
captive_portal:

dashboard_import:
  package_import_url: github://esphome/example-configs/esphome-web/esp32.yaml@main
  import_full_config: true

# Sets up Bluetooth LE (Only on ESP32) to allow the user
# to provision wifi credentials to the device.
esp32_improv:
  authorizer: none

# To have a "next url" for improv serial
web_server:

output:
  - platform: gpio
    pin: GPIO19
    id: blue_leds

  - platform: gpio
    pin: GPIO18
    id: red_leds

light:
  - platform: binary
    name: "Blue LEDs"
    output: blue_leds

  - platform: binary
    name: "Red LEDs"
    output: red_leds